.ingredients-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (min-width: 992px) {
    .ingredients-container {
      grid-template-columns: 350px 1fr;
    }
  }
  
  .ingredients-list {
    overflow-x: auto;
  }

  .split-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
      